@font-face {
    font-family: lemonada;
    src: url(Lemonada-Regular.ttf);
    font-style:normal;
    font-weight: 400;
  }
body {
    background-color: rgb(43,41,53);
    font-family: lemonada;

}
#all-content {
    width: 1000px;
    height: 1000px;
    margin:auto;
}
#first-row {
    margin-bottom: 5px;
    display:flex;
}
#second-row {
    display:flex;
}
#top-left {
    width:96px;
    height:96px;
    background-color: rgb(43,41,53);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(180,65,79);
    border-radius: 10px;
    margin: auto;
}
#top {
    width:890px;
    height:100px;
    background-color: rgb(180,65,79);
    border-radius: 10px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#left {
    width:100px;
    height:890px;
    background-color: rgb(180,65,79);
    border-radius: 10px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}
#bottom-right {
    width:886px;
    min-height:886px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(180,65,79);
    border-radius: 10px;
    margin:auto;

}
h1 {
    color:rgb(252,252,252);
    background-color: rgb(43,41,53);
    padding:10px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 25px;
    border-style: double;
    border-width: 10px;
    border-color:rgb(180,65,79);
}
.dots {
    background-color: rgb(43,41,53);
    width:50px;
    height:50px;
    border-radius: 50px;
    border-style: double;
    border-width: 10px;
    border-color:rgb(180,65,79);
}
p {
    margin:5px;
    padding: 5px;
    color: rgb(252,252,252);
}
.lang-labels {
    display:inline-block;
    width: 90px;
    height:fit-content;
    margin:auto;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
    font-size: smaller;
    text-decoration: none;
    text-align: center;
    background-color: rgb(43,41,53);
    border-radius: 7px;
    color: rgb(252,252,252);
}
table {
    border-style: solid;
    border-color: rgb(180,65,79);
    border-width: 2px;
    margin-left:10px;
}
td {
    border-style: solid;
    border-color: rgb(180,65,79);
    border-width: 2px;
    padding:5px;
    color: rgb(252,252,252);
    text-align: center;
}
